
.nav-item, .media-links {
    list-style: none;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.review{
    text-align: center;
    text-shadow: 1px 1px #888;
    text-transform: uppercase;
}


